<article>
  <a href='<%= post_path(post) %>'>
    <h3><%= post.title %></h3>
  </a>
  <p> <%= post.content.to_plain_text.slice(1, 80) %> ... </p>

  <footer class="flex">
    <div>
      <p>
         <%= image_tag 'logo.jpeg', { class: 'avatar', alt: "Marcus Pereira" } %>
        <span class="author">Marcus Almeida • <%= I18n.l(post.created_at, format: :shortdate).titleize %></span>
      </p>
    </div>

    <div>
      <p>
        <mark>
          <%= post.category.name %>
        </mark>
      </p>
    </div>
  </footer>
</article>
